html {
  margin: 0 auto;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #2c3e50;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -5;
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.twinkling {
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-radial-gradient(#2c3e50 1%, transparent 4%);
  z-index: -2;
  -webkit-animation: move-twink-back 1000s linear infinite;
          animation: move-twink-back 1000s linear infinite;
}

.sign {
  position: absolute;
  left: 850px;
  bottom: -80px;
  width: 800px;
  height: 700px;
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  letter-spacing: 10px;
  -webkit-text-stroke: 3.0px black;
  -webkit-text-fill-color: black;
  z-index: -1;
  -webkit-animation: lights 6s infinite;
          animation: lights 6s infinite;
}

@-webkit-keyframes lights {
  0% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  1% {
    -webkit-text-stroke: 10px #FB2B11;
    -webkit-text-fill-color: #34502B;
    text-shadow: 1px 0px 20px #FB2B11;
  }
  2% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  3% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  4% {
    -webkit-text-stroke: 1px #FB2B11;
    -webkit-text-fill-color: black;
    text-shadow: 1px 0px 50px #FB2B11;
  }
  5% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  12% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  13% {
    -webkit-text-stroke: 1px #FB2B11;
    -webkit-text-fill-color: #34502B;
    text-shadow: 1px 0px 20px #FB2B11;
  }
  15% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  16% {
    -webkit-text-stroke: 3px #FB2B11;
    -webkit-text-fill-color: #34502B;
    text-shadow: 1px 0px 50px #FB2B11;
  }
  99% {
    -webkit-text-stroke: 3px #FB2B11;
    -webkit-text-fill-color: #34502B;
    text-shadow: 1px 0px 50px #FB2B11;
  }
  100% {
    -redwebkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
}

@keyframes lights {
  0% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  1% {
    -webkit-text-stroke: 10px #FB2B11;
    -webkit-text-fill-color: #34502B;
    text-shadow: 1px 0px 20px #FB2B11;
  }
  2% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  3% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  4% {
    -webkit-text-stroke: 1px #FB2B11;
    -webkit-text-fill-color: black;
    text-shadow: 1px 0px 50px #FB2B11;
  }
  5% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  12% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  13% {
    -webkit-text-stroke: 1px #FB2B11;
    -webkit-text-fill-color: #34502B;
    text-shadow: 1px 0px 20px #FB2B11;
  }
  15% {
    -webkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
  16% {
    -webkit-text-stroke: 3px #FB2B11;
    -webkit-text-fill-color: #34502B;
    text-shadow: 1px 0px 50px #FB2B11;
  }
  99% {
    -webkit-text-stroke: 3px #FB2B11;
    -webkit-text-fill-color: #34502B;
    text-shadow: 1px 0px 50px #FB2B11;
  }
  100% {
    -redwebkit-text-stroke: 1.0px black;
    -webkit-text-fill-color: black;
    text-shadow: none;
  }
}

.sign .text {
  width: 100%;
  position: absolute;
  left: -425px;
  top: -30px;
  z-index: 3;
}

.sign .text h1 {
  position: absolute;
  font-size: 200px;
  top: -130px;
  left: 175px;
}

.sign .text h2 {
  font-family: "Corben", cursive;
  position: absolute;
  font-size: 60px;
  left: 340px;
  top: 155px;
}

.sign .text h3 {
  position: absolute;
  font-size: 225px;
  top: -20px;
  left: -35px;
}

.sign .rig {
  z-index: -2;
}

.sign .rig .verticle {
  position: absolute;
  width: 5px;
  height: 500px;
  background: black;
  z-index: -2;
}

.sign .rig .verticle.v1 {
  left: -150px;
}

.sign .rig .verticle.v2 {
  left: -300px;
}

.sign .rig .verticle.v4 {
  left: 150px;
}

.sign .rig .verticle.v5 {
  left: 300px;
}

.sign .rig .verticle.v6 {
  left: 450px;
}

.sign .rig .verticle.v7 {
  left: -450px;
}

.sign .rig .hori {
  width: 1000px;
  height: 5px;
  background: black;
  position: absolute;
  left: -500px;
  top: 70px;
  z-index: -2;
}

.sign .rig .hori.ho2 {
  top: 150px;
}

.sign .rig .hori.ho3 {
  top: 230px;
}

.sign .rig .hori.ho4 {
  top: 310px;
}

.sign .rig .hori.ho5 {
  top: 390px;
}

.ground {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background: #ecf0f1;
  z-index: -2;
}

.ground .trees {
  position: absolute;
  z-index: 0;
  top: -190%;
  z-index: 3;
}

.ground .trees .tree {
  position: absolute;
}

.ground .trees .tree.t1 {
  left: 100px;
  top: -40px;
}

.ground .trees .tree.t2 {
  left: 210px;
  top: -20px;
}

.ground .trees .tree.t3 {
  left: 15px;
  top: 5px;
}

.ground .trees .tree.t4 {
  left: 1400px;
  top: -10px;
}

.ground .trees .tree.t5 {
  left: 1500px;
  top: -40px;
}

.ground .trees .tree.t6 {
  left: 1600px;
  top: 10px;
}

.ground .trees .tree .trunk {
  background: #624e2c;
  width: 10px;
  height: 50px;
  position: absolute;
  left: 43px;
  top: 110px;
}

.ground .trees .tree .branches {
  z-index: 2;
}

.ground .trees .tree .branches .branch {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 50px solid #7B9971;
}

.ground .trees .tree .branches .branch.b1 {
  top: 30px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 109px solid #7B9971;
  left: 8px;
}

.ground .trees .tree .branches .branch.b2 {
  left: 13px;
  top: 20px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 80px solid #7B9971;
}

.ground .trees .tree .branches .branch.b3 {
  left: 18px;
  top: 22px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 40px solid #7B9971;
}

.ground .hill {
  z-index: -1;
  width: 1000px;
  height: 100px;
  position: absolute;
  background: #ecf0f1;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.ground .hill.h1 {
  left: -500px;
  top: -80px;
}

.ground .hill.h2 {
  left: -200px;
  top: -60px;
}

.ground .hill.h3 {
  left: 250px;
  top: -40px;
}

.ground .hill.h4 {
  left: 600px;
  top: -45px;
}

.ground .hill.h5 {
  left: 1000px;
  top: -80px;
}

.ground .hill.h6 {
  width: 700px;
  height: 450px;
  left: 1600px;
  top: -100px;
}

.ground .hill.h7 {
  width: 700px;
  height: 250px;
  left: 2000px;
  top: -90px;
}
