//fonts
$shrikhand: 'Shrikhand', cursive;
$corben: 'Corben', cursive;
 
// colors
$midnight: #2c3e50;
$snow: #ecf0f1;
$shade: #bdc3c7;
$deepRed: #941F1F;
$red: #FB2B11;
$creamy: #FFEFB9;
$lightGreen: #7B9971;
$darkGreen: #34502B;
$bark: #624e2c;

html {
  margin: 0 auto;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: $midnight;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-5;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

// credit to Nick Mkrtchyan for twinkling stars: https://codepen.io/WebSonick/pen/vjmgu

.twinkling {
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-radial-gradient($midnight 1%, transparent 4%);
  z-index: -2;
  animation: move-twink-back 1000s linear infinite;
}

.sign {
  position: absolute;
  left: 850px;
  bottom: -80px;
  width: 800px;
  height: 700px;
  font-family: $shrikhand;
  font-weight: 900;
  letter-spacing: 10px;
  -webkit-text-stroke: 3.0px black;
  -webkit-text-fill-color: black;
  z-index: -1;
  animation: lights random(10) + 5s infinite;
  @keyframes lights {
    0% {-webkit-text-stroke: 1.0px black;
  -webkit-text-fill-color: black;
    text-shadow: none}
    
    1% {-webkit-text-stroke: 10.0px $red;
  -webkit-text-fill-color: $darkGreen;
    text-shadow: 1px 0px 20px $red;}
    
    2% {-webkit-text-stroke: 1.0px black;
  -webkit-text-fill-color: black; text-shadow: none}
    
    3% {-webkit-text-stroke: 1.0px black;
  -webkit-text-fill-color: black; text-shadow: none}
    
    4% {-webkit-text-stroke: 1.0px $red;
  -webkit-text-fill-color: black;
    text-shadow: 1px 0px 50px $red;}
    
    5% {-webkit-text-stroke: 1.0px black;
  -webkit-text-fill-color: black; text-shadow: none}
    
    12% {-webkit-text-stroke: 1.0px black;
  -webkit-text-fill-color: black; text-shadow: none}
    
    13% {-webkit-text-stroke: 1.0px $red;
  -webkit-text-fill-color: $darkGreen;
    text-shadow: 1px 0px 20px $red;}
    
    15% {-webkit-text-stroke: 1.0px black;
  -webkit-text-fill-color: black; text-shadow: none}
    
    16% {-webkit-text-stroke: 3.0px $red;
  -webkit-text-fill-color: $darkGreen;
    text-shadow: 1px 0px 50px $red;}
    
    99% {-webkit-text-stroke: 3.0px $red;
  -webkit-text-fill-color: $darkGreen;text-shadow: 1px 0px 50px $red;}
    
    100% {-redwebkit-text-stroke: 1.0px black;
  -webkit-text-fill-color: black; text-shadow: none}
  }
  
  .text{
    width: 100%;
    position: absolute;
    left: -425px;
    top: -30px;
    z-index: 3;
    
    h1 {
      position: absolute;
      font-size: 200px;
      top: -130px;
      left: 175px;
    }
    
    h2 {
      font-family: $corben;
      position: absolute;
      font-size: 60px;
      left: 340px;
      top: 155px;
    }
    
    h3 {
      position: absolute;
      font-size: 225px;
      top: -20px;
      left: -35px;
    }
  }

  .rig {
    z-index: -2;
   .verticle {
      position: absolute;
      width: 5px;
      height: 500px;
      background: black; 
      z-index: -2;
     
     &.v1 {
       left: -150px;
     }
     
     &.v2 {
       left: -300px;
     }
     
     &.v4 {
       left: 150px;
     }
     
     &.v5 {
       left: 300px;
     }
     
     &.v6 {
       left: 450px;
     }
     &.v7 {
       left: -450px;
     }
    }
    
    .hori {
      width: 1000px;
      height: 5px;
      background: black;
      position: absolute;
      left: -500px;
      top: 70px;
      z-index: -2;
      
      &.ho2 {
        top: 150px;
      }
      
      &.ho3 {
        top: 230px;
      }
      
      &.ho4 {
        top: 310px;
      }
      
      &.ho5 {
        top: 390px;
      }
    }
  }
}

.ground {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background: $snow;
  z-index: -2;
  
  .trees {
    position: absolute;
    z-index: 0;
    top: -190%;
    z-index: 3;
    
  .tree {
    position: absolute;
    
    &.t1 {
      left: 100px;
      top: -40px;
    }
    
    &.t2 {
      left: 210px;
      top: -20px;
    }
    
    &.t3 {
      left: 15px;
      top: 5px;
    }
    
    &.t4 {
      left: 1400px;
      top: -10px;
    }
    
    &.t5 {
      left: 1500px;
      top: -40px;
    }
    
    &.t6 {
      left: 1600px;
      top: 10px;
    }
    
    .trunk {
      background: $bark;
      width: 10px;
      height: 50px;
      position: absolute;
      left: 43px;
      top: 110px;
    }
    .branches {
      z-index: 2;
      .branch {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 50px solid $lightGreen;
        
        &.b1 {
          top: 30px;
          border-left: 40px solid transparent;
          border-right: 40px solid transparent;
          border-bottom: 109px solid $lightGreen;
          left: 8px;
        }
        
        &.b2 {
          left: 13px;
          top: 20px;
          border-left: 35px solid transparent;
          border-right: 35px solid transparent;
          border-bottom: 80px solid $lightGreen;
        }
        
        &.b3 {
          left: 18px;
          top: 22px;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent;
          border-bottom: 40px solid $lightGreen;
        }
      }
    }
  }
}
  
  .hill {
    z-index: -1;
    width: 1000px;
    height: 100px;
    position: absolute;
    background: $snow;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    
    &.h1 {
      left: -500px;
      top: -80px;
    }
    
    &.h2 {
      left: -200px;
      top: -60px;
    }
    
    &.h3 {
      left: 250px;
      top: -40px;
    }
    
    &.h4 {
      left: 600px;
      top: -45px;
    }
    
    &.h5 {
      left: 1000px;
      top: -80px;
    }
    
    &.h6 {
      width: 700px;
      height: 450px;
      left: 1600px;
      top: -100px;
    }
    
    &.h7 {
      width: 700px;
      height: 250px;
      left: 2000px;
      top: -90px;
    }
  }
}